<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : </title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" type="text/css" href="/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
 <div class='container'>
  {{> nav}}
   <div class="row header-album-title">
     <div class="two-thirds column"></div>
       <div class="five columns"> <h1 class='album-title-header'>{{album.title}}</h1></div>

   </div>
    <div class="row">
   <div class='two-thirds column reviews-div'>
     <div class="row">
        <span class='add-review-button'><a href=/review/{{album.title}} class="button">Add Review</a></span>
        <span class='review-page-head'><h1> Reviews</h1></span>
     </div>
     <div class="row">
       <span class='review-album-title'>CHRONIC</span>
       <span class='review-album-date'> <i>07/03/17</i></span>
     </div>
     <div class='review-p'>
      Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.
    </div>
    <div class='review-by'>
      <i>by Jeffrey Ware</i>
    </div>
     <br>
   </div>
 </div>
</body>
</html>
