<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <link rel="stylesheet" type="text/css" href="/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
 <div class='container'>
    <nav class='navbar'>
      <div class='container'>
        <ul class='navbar-list'>
            <li class='navbar-item-left'>
              <h3>Vinyl</h3>
            <li>
          <li class='navbar-item'>login<li>
          <li class='navbar-item'>sign up<li>
        </ul>
       </div>
     <nav>
     <div class='twelve column jumbotron'>
     </div>
     <div class="row">
       <div class='one-third column records-div' >
         <h1 class='record-header'>Records</h1>
         <p class='album-header'><strong>ALBUM TITLE</strong></p>
         <p><i>artist name</i></p>
       </div>
       <div class='two-thirds column reviews-div'>
         <h1 class='reviews-header'>Recent Reviews</h1>
         <div class="row">
           <span class='review-album-title'>CHRONIC</span>
           <span class='review-album-date'> <i>07/03/17</i></span>
         </div>
         <div class='review-p'>
          Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.
        </div>
        <div class='review-by'>
        <i>by Jeffrey Ware</i>
      </div>

         </div>
     </div>
 </div>
</body>
</html>
