<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vinyl: NewReview</title>
    <link rel="stylesheet" type="text/css" href="/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/normalize.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    {{> nav2}}
    <center>
      <div class='container'>
        <form class="new-review-form">
              <label class='new-review-form-title'><h1>New Review for {{album}}</h1></label>
          <textarea class="u-full-width" placeholder="Your review here …" ></textarea>
          <input class="button" type="submit" value="Submit">
      </form>
    </div>
  </center>
  </body>
</html>
