<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vinyl : 's Profile </title>
    <link rel="stylesheet" type="text/css" href="/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/normalize.css">
    <link rel="stylesheet" type="text/css"  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body>
    <div class='container'>
        {{> nav2}}
        <div class='row'>
          <div class='one-third column'>
            <div class='profile-img'>
              <a href="https://placeholder.com"><img src="http://via.placeholder.com/250x250"></a>
            </div>
          </div>
          <div class='two-thirds column profile-review'>
            <div class='user-info-div'>
              <h1>USER NAME</h1>
              <p><i>email :</i></p>
              <p><i>date joined :</i></p>
           </div>
            <div class='reviews-div'>
              <h1 class='reviews-header'>Reviews</h1>
              <div class="row">
                <span class='profile-album-title'>CHRONIC</span>
                <span class='profile-album-date'> <i>07/03/17</i></span>
              </div>
              <div class='review-p'>
               Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.
             </div>
             <div class='review-by'>
               <i>by Jeffrey Ware</i>
             </div>
             <div><i class="fa fa-trash-o delete" aria-hidden="true"></i></div>
              <br>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
